@page
@model IndexModel
@{
    ViewData["Titulo"] = "Inicio";
}

<div class="text-center">
     
        <h1 class="display-4">Variety Car Rental</h1>

    <img src="~/css/LogoCarRental.png" height="194" width="354"alt="LogoCarRental"/>
   
    
</div>
