@page
@model IndexModel
@{
    ViewData["Titulo"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Variety Rent a Car</h1>
    <p> <a href="https://learn.microsoft.com/aspnet/core">Ingrese sus credeciales de usuario</a>.</p>
</div>
