@page
@model PrivacyModel
@{
    ViewData["Title"] = "Variety Car Rental";
}
<h1>@ViewData["Title"]</h1>
<meta charset="utf-8"/>
<h2>Misión</h2>
<p>Satisfacer a los clientes ofreciéndoles excelencia en el <br />
    servicio, calidad y confiabilidad, por medio de la estandarización<br />
    y unificación de nuestros procesos, fundamentados en los principios<br />
    del desarrollo sostenible.
</p>>

<h2>Visión</h2>
<p>
    Ser líderes en servicio al cliente mediante la satisfacción <br />
    de sus necesidades y expectativas con una adecuada planificación<br />
    y la gestión de un modelo de negocio, que promueva y genere crecimiento <br />
    económico, progreso social y equilibrio ambiental. 
</p>>